.ul_menu_left li {
    list-style: none;
    padding: 10px 0;
}
.ul_menu_left li button{
    margin: 0;
    width: 100%;
    background-color: rgb(74, 139, 141);
}
.nav_left{
    background-color:rgb(128, 232, 236);
}
.ul_menu_left{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.row{
    height: 500px;
}
// .ul_menu_left{
//     display: flex;
// }