<section id="myFooter">
  <div class="app_footer">
    <div class="container-fluid app_footer_content">
      <div class="row p-4">
        <div class="col-md-6 app_left">
          <p class="text_app_left">Ứng dụng tiện lợi dành cho người yêu điện ảnh</p>
          <div class="mo_ta">
            <p class="text_mota">Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm điểm rạp và đổi quà hấp dẫn.</p>
          </div>
          <div class="btn_app">
            <button class="btn btn-danger btn_app_content">App miễn phí - Tải về ngay!</button>
          </div>
        </div>
        <div class="col-md-6 app_right">
          <div class="hinh_app">
            <img src="../../../assets/images/phone_hand.png" alt="">
          </div>
          <div class="hinh_app_2">
            <img src="../../../assets/images/slide3.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_diachi">
    <div class="diachi_item1">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <p class="123_phim">123PHIM</p>
            
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</section>