.app_footer{
    background-image: url(../../../assets/images/backapp.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
}
.app_footer_content{
    width: 80%;
    margin: 0 auto;
}
.app_left{
    color: #ffffff;
    padding-top: 150px;
}
.app_right{
    padding-top: 10px;
}
.hinh_app{
    position: relative;
}
.hinh_app_2 img{
width: 210px;
}
.hinh_app_2{
    position: absolute;
    top: 54px;
    left: 172px;
}
.app_left .text_app_left{
    font-weight: 700;
    font-size: xx-large;
}
.mo_ta .text_mota{
    color: #fff;
    font-size: 18px;
}
.btn_app .btn_app_content{
    background-color: #fb4226;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 4px;
}
.footer_diachi{
    background-color: #222222;
}
.footer_diachi .diachi_item1{
    width: 80%;
    margin: 0 auto;
}
