<section id="myFooter">
  <div class="app_footer">
    <div class="container-fluid app_footer_content">
      <div class="row p-4">
        <div class="col-md-6 app_left">
          <p class="text_app_left">Ứng dụng tiện lợi dành cho người yêu điện ảnh</p>
          <div class="mo_ta">
            <p class="text_mota">Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm điểm rạp và đổi quà hấp dẫn.</p>
          </div>
          <div class="btn_app">
            <button class="btn btn-danger btn_app_content">App miễn phí - Tải về ngay!</button>
          </div>
        </div>
        <div class="col-md-6 app_right">
          <div class="hinh_app">
            <img src="../../../assets/images/phone_hand.png" alt="">
          </div>
          <div class="hinh_app_2">
            <img src="../../../assets/images/slide3.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_diachi">
    <div class="diachi_item1">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div text_col_ft>
              <p class="123_phim text_col_footer">123PHIM</p>
            </div>
            <div class="text_phim_content">
              <ul class="p-0">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Brand Guidelines</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <div text_col_ft>
              <p class="123_phim text_col_footer">QUY ĐỊNH</p>
            </div>
            <div class="text_phim_content">
              <ul class="p-0">
                <li><a href="#">Thỏa thuận sử dụng</a></li>
                <li><a href="#">Quy chế hoạt động</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
                <li><a href="#">Quyền lợi thành viên</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div text_col_ft>
              <p class="123_phim text_col_footer">ĐỐI TÁC</p>
            </div>
            <div class="container p-0 hinh_doitac">
              <div class="row">
                <div class="col-md-12 hinh_doitac_content">
                  <ul class="p-0">
                    <li class="li_active"><img src="./assets/images/doi-tac-1.png" alt=""></li>
                    <li class="li_run"><img src="./assets/images/doi-tac-2.png" alt=""></li>
                    <li class="li_run"><img src="./assets/images/doi-tac-3.png" alt=""></li>
                    <li class="li_run"><img src="./assets/images/doi-tac-4.png" alt=""></li>
                    <li class="li_run"><img src="./assets/images/doi-tac-5.jpg" alt=""></li>
                  </ul>
                </div>
                <div class="col-md-12 hinh_doitac_content">
                  <ul class="p-0">
                    <li class="li_active"><img src="./assets/images/doi-tac-6.png" alt=""></li>
                    <li class="li_run"><img src="./assets/images/doi-tac-7.png" alt=""></li>
                    <li class="li_run"><img src="./assets/images/doi-tac-8.jpg" alt=""></li>
                    <li class="li_run"><img src="./assets/images/doi-tac-9.png" alt=""></li>
                    <li class="li_run"><img src="./assets/images/doi-tac-10.png" alt=""></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-12 hinh_doitac_content p-0">
                <ul class="p-0">
                  <li class="li_active"><img src="./assets/images/doi-tac-11.png" alt=""></li>
                  <li class="li_run"><img src="./assets/images/doi-tac-12.png" alt=""></li>
                  <li class="li_run"><img src="./assets/images/doi-tac-13.png" alt=""></li>
                  <li class="li_run"><img src="./assets/images/doi-tac-14.png" alt=""></li>
                  <li class="li_run"><img src="./assets/images/doi-tac-15.png" alt=""></li>
                </ul>
              </div>
              <div class="col-md-12 hinh_doitac_content p-0">
                <ul class="p-0">
                  <li class="li_active"><img src="../../../assets/images/doi-tac-16.png" alt=""></li>
                  <li class="li_run"><img src="../../../assets/images/doi-tac-17.png" alt=""></li>
                  <li class="li_run"><img src="../../../assets/images/doi-tac-18.png" alt=""></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div text_col_ft>
              <p class="123_phim text_col_footer">MOBILE APP</p>
            </div>
            <div class="col-md-12 hinh_doitac_content p-0">
              <ul class="p-0">
                <li class="li_active"><img src="../../../assets/images/apple-logo.png" alt=""></li>
                <li class="li_run"><img src="../../../assets/images/android-logo.png" alt=""></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <div text_col_ft>
              <p class="123_phim text_col_footer">SOCIAL
              </p>
            </div>
            <div class="col-md-12 hinh_doitac_content p-0">
              <ul class="p-0">
                <li class="li_active"><img src="../../../assets/images/facebook-logo.png" alt=""></li>
                <li class="li_run"><img src="../../../assets/images/zalo-logo.png" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="hrFooter">
    </div>
    <div class="location">
      <div class="container">
        <div class="row">
          <div class="col-md-1 img_icon">
            <img src="../../../assets/images/vng-icon.png" alt="">
          </div>
          <div class="col-md-9">
            <span class="text_1">123PHIM - SẢN PHẨM CỦA CÔNG TY CP DỊCH VỤ MẠNG VI NA - MỘT THÀNH VIÊN CỦA CÔNG TY CỔ
              PHẦN VNG</span>
            <p class="text_2 m-0">Địa chỉ: 52 Nguyễn Ngọc Lộc, Phường 14, Quận 10, Tp Hồ Chí Minh</p>
            <p class="text_3 p-0">Số ĐKKD: 0305418909, cấp lần đầu ngày 29/12/2007 – Sở KHĐT TP. HCM cấp</p>
          </div>
          <div class="col-md-2 img_icon_bct">
            <img src="../../../assets/images/bocongthuong.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>