<div id="myThongKe">
    <div class="thong_ke_content">
        <div class="header_thong_ke">
            <h1>THỐNG KÊ</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-sm-3 col_active">
                        <div class="card border-primary">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-sm-7">
                                        <h5 class="card-title">EARNINGS (MONTHLY)</h5>
                                        <h3 class="card-text">$40,000</h3>
                                    </div>
                                    <div class="col-md-sm-5">
                                        <i class="fas fa-calendar icon_active"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-sm-3 col_active">
                        <div class="card border-primary">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-sm-7">
                                        <h5 class="card-title">EARNINGS (MONTHLY)</h5>
                                        <h3 class="card-text">$40,000</h3>
                                    </div>
                                    <div class="col-md-sm-5">
                                        <i class="fas fa-calendar icon_active"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-sm-3 col_active">
                        <div class="card border-primary">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-sm-7">
                                        <h5 class="card-title">EARNINGS (MONTHLY)</h5>
                                        <h3 class="card-text">$40,000</h3>
                                    </div>
                                    <div class="col-md-sm-5">
                                        <i class="fas fa-calendar icon_active"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-sm-3 col_active">
                        <div class="card border-primary">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-sm-7">
                                        <h5 class="card-title">EARNINGS (MONTHLY)</h5>
                                        <h3 class="card-text">$40,000</h3>
                                    </div>
                                    <div class="col-md-sm-5">
                                        <i class="fas fa-calendar icon_active"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-sm-6">
                        <div class="card border-primary">
                         <div class="card-header">
                                Earnings Overview
                         </div>
                          <div class="card-body">
                                <canvas id="" width="600" height="400"></canvas>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-sm-6"></div>
                </div>

            </div>
        </div>
    </div>
</div>
