<section id="myNavbar">
  <div class="container-fluid navbar navbar-expand-lg navbar-light">
    <div class="row w-100">
      <div class="col-md-4 logo">
        <a href=""><img src="./assets/images/logo.png" alt=""></a>
      </div>
      <div class="col-md-4">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto font-weight-normal textNavbar">
            <li class="nav-item">
              <a class="nav-link" href="#">Lịch chiếu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cụm Rạp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tin Tức</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ứng Dụng</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <i class="fa fa-user" aria-hidden="true"></i>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>