<nav class="navbar navbar-expand-md bg-light navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/trang-chu">Phim 123</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/trang-chu">Trang Chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/trang-chu/danh-sach-phim">Danh Sách Phim</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/trang-chu/lich-chieu">Lịch Chiếu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/signup">Đăng Ký</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/signin">Đăng Nhập</a>
      </li>
    </ul>
  </div>
</nav>
