.logo img{
width: 45px;
height: 45px;
}
.textNavbar li a {
    color: #333;
}
.textNavbar li:hover a{
    color: #fb4226;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}