.liThemNguoiDung {
    padding: 10px;
}
.aThemNguoiDung{
    color: #ffffff;
}
#exampleFormControlSelect1{
    border-radius: 10px;
    height: 45px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.table_them_nguoi_dung {
    width: 100%;
}
.icon_txs{
    margin: 0 10px;
}
th, td{
    font-size: 16px;
    text-align: center;
}
th{
    color: red;
    font-weight: bold;
}
.them_nguoi_dung{
    margin-top: 20px;
}
.md-form{
    width: 80%;
}