<section id="myNavbar">
  <div class="container-fluid navbar navbar-expand-lg navbar-light">
    <div class="row w-100">
      <div class="col-md-4 logo">
        <a href=""><img src="./assets/images/logo.png" alt=""></a>
      </div>
      <div class="col-md-4">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto font-weight-normal textNavbar">
            <li class="nav-item">
              <a routerLink="/home/trang-chu/lich-chieu" class="nav-link">Lịch chiếu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Cụm Rạp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Tin Tức</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Ứng Dụng</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item icon_user">
               <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Đăng Nhập</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">VN</a>
            </li><span class="line">|</span>
            <li class="nav-item">
              <a class="nav-link" href="#">EN</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
